.container{
    background-color: #008BCD;
    margin-left: auto;
    margin-right: auto;
}

.container img{
    width: 100%;
}

.formulario{
    background-color: #006598;
    margin-bottom: 100px;
        
}



