h1{
    font-family: 'Roboto Medium';
    font-size: 32px;
    color: white;
    padding: 32px;
    text-align: center;
}

#conteudo h2{
    font-family: 'Roboto medium';
    font-size: 24px;
    color: white;
    padding: 0px 60px 16px 60px;
}

#conteudo p{
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding: 0 60px 32px 60px;
}

.container{
    width: 1170px;
    background-color: #008BCD;
    margin-left: auto;
    margin-right: auto;
    

}

#conteudo{
    width: 50%;
    float: left;
}

#formulario{
    width: 500px;
    float: left;
    background-color: #006598;
    margin-bottom: 100px;
         
}


.centralizado{
    margin: 32px 10% 32px 10%;
           
}

button{
    height: 44px;
    border-radius: 5px;
    width: 100%;
    border: none;
    font-family: 'open sans';
    font-size: 16px;
    color: white;
    background-color: orange;
    margin-top: 32px;
    
}

#titulo-form{
    margin: 10% 10% 32px 10%;
    color: white;
    text-align: center;
    font-size: 24px;
    font-family:'Roboto medium';
}

label{
    font-size: 16px;
    color: white;
    font-family: 'open sans';
}

.centralizado input{
    margin: 5px 0 16px 0;
    height: 32px;
    border-radius: 5px;
    width: 100%;
    border: none;
    
}

img{
    width: 450px;
    padding: 0 60px 0 60px;
    
}

